@import 'variable.styl'
.col-666
  color #666
.col-ccc
  color #ccc
*
  -webkit-overflow-scrolling touch
body
  margin 0
  color #333
  font-size 26rpx
  background #f8f8f8
a
  text-decoration none
a:focus, input:focus, button:focus, textarea:focus, [class*='van-']:focus
  outline none
ol, ul
  margin 0
  padding 0
  list-style none
input, button, textarea
  color inherit
  font inherit
  outline none
.emfont
  font-family iconfont
.border-radius5px
  border-radius 10rpx
  overflow hidden
.border-radius8
  border-radius 16rpx
.col-999
  color #999
.btnRed
  height 60rpx
  line-height 60rpx
  padding 0 40rpx
  border-radius 10rpx
  border 1px solid #E64340
  color #E64340
::-webkit-scrollbar{
  width: 0;
  height: 0;
  color: transparent;
}
button
  background-color transparent
  border 0
.button-hover
  background-color transparent
button::after
  display none
image
  height auto
.text-xs
  font-size $font-xs
.text-s
  font-size $font-s
.text-sm
  font-size $font-sm
.text-bs
  font-size $font-base
.text-bold
  font-weight bold
.w100
  width 100%
.bc-fff
  background #fff
.text-16
  font-size 32rpx
.text-14
  font-size 28rpx
.text-13
  font-size 26rpx
.text-12
  font-size 24rpx
.text-30
  font-size 30rpx
.text-37
  font-size 37rpx
.text-r
  text-align right
.text-md
  font-size $font-base
.text-big
  font-size $font-big
.text-lg
  font-size $font-lg
.text-l
  font-size $font-l
.text-xl
  font-size $font-xl
.text-bold
  font-weight bold
.fw700
  font-weight 700
.text-white
  color #FFF !important
.text-primary
  color $font-color-primary !important
.text-light
  color $font-color-light !important
.text-dark
  color $font-color-dark !important
.text-base
  color $font-color-base !important
.text-line-through
  text-decoration line-through
.m-0
  margin 0 !important
.mt-0
  margin-top 0 !important
.mt-5
  margin-top 5rpx
.mt-6
  margin-top 12rpx
.mt-12
  margin-top 24rpx
.mt-14
  margin-top 28rpx
.mb-0
  margin-bottom 0 !important
.ml-0
  margin-left 0 !important
.mr-0
  margin-right 0 !important
.m-xs
  margin $margin-xs
.mt-xs
  margin-top $margin-xs
.mb-xs
  margin-bottom $margin-xs
.ml-xs
  margin-left $margin-xs
.mr-xs
  margin-right $margin-xs
.m-sm
  margin $margin-sm
.mt-sm
  margin-top $margin-sm
.mb-sm
  margin-bottom $margin-sm
.ml-sm
  margin-left $margin-sm
.mr-sm
  margin-right $margin-sm
.m-md
  margin $margin-md
.mt-md
  margin-top $margin-md
.mb-md
  margin-bottom $margin-md
.ml-md
  margin-left $margin-md
.mr-md
  margin-right $margin-md
.mt-l
  margin-top $margin-l
.m-lg
  margin $margin-lg
.text-center
  text-align center
.mt-lg
  margin-top $margin-lg
.col-reda
  color #fff
.mb-lg
  margin-bottom $margin-lg
.ml-lg
  margin-left $margin-lg
.mr-lg
  margin-right $margin-lg
.p-0
  padding 0 !important
.pt-0
  padding-top 0 !important
.pb-0
  padding-bottom 0 !important
.pl-0
  padding-left 0 !important
.pr-0
  padding-right 0 !important
.p-xs
  padding $margin-xs
.pt-xs
  padding-top $margin-xs
.pb-xs
  padding-bottom $margin-xs
.pl-xs
  padding-left $margin-xs
.pr-xs
  padding-right $margin-xs
.p-sm
  padding $margin-sm
.pt-sm
  padding-top $margin-sm
.pb-sm
  padding-bottom $margin-sm
.pl-sm
  padding-left $margin-sm
.pr-sm
  padding-right $margin-sm
.p-md
  padding $margin-md
.pt-md
  padding-top $margin-md
.pb-md
  padding-bottom $margin-md
.pl-md
  padding-left $margin-md
.pr-md
  padding-right $margin-md
.p-c
  padding-left $margin-md
  padding-right $margin-md
.p-lg
  padding $margin-lg
.pt-lg
  padding-top $margin-lg
.pb-lg
  padding-bottom $margin-lg
.pl-lg
  padding-left $margin-lg
.pr-lg
  padding-right $margin-lg
.slice
  background-color #fff
.col-red
  color $font-color-primary
.col-theme-red
	color $theme-red
.col-fff
  color #ffffff
.border-red
  border 1px solid $font-color-primary
.border-666
  border 1px solid #666
.border-b-d7
  border-bottom 1px solid #d7d7d7
.border-b-e6
  border-bottom 1px solid #e6e6e6
.slice-title
  box-sizing border-box
  font-size $font-lg
  color #333
  font-weight bold
.slice-t-one
  display flex
  .t-left
    width 50%
    display flex
    justify-content flex
    align-items center
  .t-right
    width 50%
    display flex
    justify-content flex-end
    align-items center
.fxBox
  display flex
.fxBox1
  display flex
  align-items center
.text-18
  font-size 36rpx
.fxBox2
  display flex
  align-items center
  justify-content space-between
.fx1
  flex 1
.fx0
  flex-shrink  0
.line2-p
  overflow hidden
  text-overflow ellipsis
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp 2
  &[data-line='1']
    -webkit-line-clamp 1
	overflow hidden
	text-overflow ellipsis
	display -webkit-box
	-webkit-box-orient vertical
	-webkit-line-clamp 2
	&[data-line='1']
		-webkit-line-clamp 1
.text-ellipsis
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
.text-r
  text-align right
.col-666
  color #666
.col-c7
  color #C7C7C7
.col-000
  color #000
.col-green
  color #128D80
.del-text
  text-decoration line-through
.btn-666
  border-radius 10rpx
  border 1px solid #666
  line-height 60rpx
  padding 0 20rpx
  color #666
.home-title-box
  text-align center
  position relative
  .home-title
    font-size 30rpx
    color #333333
    position relative
    display inline-block
    &::before, &::after
      content ''
      position absolute
      width 60rpx
      height 1px
      background #AAAAAA
      top 50%
      transform translateX(-50%)
    &::before
      right -120rpx
    &::after
      left -60rpx
.mp-search-box
  position fixed
  top 0
  left 0
  right 0
  background #fff
  z-index 999
  width 100%
  color #333
.index-head
    text-align center
    box-sizing border-box
    width 100%
    font-size 37rpx
.index-header
  width 100%
  box-sizing border-box
  display flex
  align-items center
  padding 0 20rpx
  .my-text
    font-size 35rpx
  .ser-input
    flex: 1;
    height: 56rpx;
    line-height: 56rpx;
    text-align: center;
    font-size: 28rpx;
    border-radius: 10rpx;
    background: #f3f5f7;
    margin-left 20rpx
    color #666
button::after
  border-radius 0

.search_box
  width 100%
  box-sizing border-box
  display flex
  align-items center
  padding 0 20rpx 6px
  background #fff
  border-bottom 1px solid #e6e6e6
  .search_box_l
    display flex
    align-items center
    flex 0
    .icon-triangle
      width 12rpx
      height 9rpx
    .location-icon
      flex 0
    .my-text
      width 208rpx
      font-size 26rpx
      font-weight 500
      color #3A3A3A
      margin-left 10rpx
      margin-right 40rpx
      flex 1
      overflow hidden
      white-space nowrap
      text-overflow ellipsis
  .search_box_r
    position relative
    flex 1
    //width 440rpx
    .icon-search
      position absolute
      left 24rpx
      top 18rpx
      font-size 28rpx
      color $em-text-color-grey
  .ser-input
    box-sizing border-box
    padding-left 60rpx
    height: 31px;
    line-height: 31px;
    text-align: left;
    font-size: 26rpx;
    border-radius: 30rpx;
    background: #F2F3F4;
    color $em-text-color-grey

.count-down-box
  .uni-countdown
    padding 0
    .uni-countdown__splitor
      line-height 36rpx
      padding 0
      font-size 24rpx
    .uni-countdown__number
      background transparent !important
      border none !important
      padding 0 !important
      margin 0 !important
      line-height 36rpx
      height 36rpx
.kefuBtn
  image
    width 100rpx
    height 100rpx
    position fixed
    bottom 80rpx
    right 40rpx
    z-index 999

/*
**  start
*/
  .ml-5
    margin-left 5rpx
  .bg-c7
    background #c7c7c7
  .overflow-hidden
    overflow hidden
  .tab-bar-fixs {
    position: fixed;
    z-index: 100;
  }

/*
**  end
*/
