.detail-wrap
  background: #fff
  .tit
    padding-bottom: 10px
    border-bottom 1px solid #e8e8e8
    margin-bottom 15px
  .tit:after
    display: block
    line-height: 0
    content: '.'
    font-size: 0
    overflow: hidden
    clear: both
    
//.detail-modal
//  @media screen and (max-width 1000px)
//    width 900px